.header {
    background-color: #7e6130;
}

.title {
    font-weight: bold;
}

.accept-btn {
    color:green;
    font-weight: bold;
}

.reject-btn {
    color: red;
    font-weight: bold;

}

.card-title {
    font-weight: bold;
    text-decoration: underline;
}

.my-custom-class {
    color: red;
}

.card-subtitle {
    font-weight: bold;
}

.notification {
    color:rgb(221, 195, 21);
    font-weight: bold;
}