ion-content {
	--padding-top: 30%;
	--padding-start: 10%;
	--padding-end: 10%;
	--background: url('../../assets/images/login_screen.png')
		0 0/100% 100% no-repeat;
		
}

.input-group {
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 15px;

}

.errors {
	font-size: small;
	color: #fff;
	background: var(--ion-color-danger);
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

ion-button {
	
	--background: #b6803b;
	--background-hover: #9ce0be;
	--background-activated: #88f4be;
	--background-focused: #88f4be;
  
	--color: white;
  
	--border-radius: 0;
	--border-color: #000;
	--border-style: solid;
	--border-width: 1px;
  
	--box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
	--ripple-color: deeppink;
  
	--padding-top: 10px;
	--padding-bottom: 10px;
  }