<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="getBooking()">
      BOOKING CONFIRMED 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ng-container *ngIf="bookingData && bookingData.length > 0">
      
        <ion-card  *ngFor="let booking of bookingData" (click)="presentModal(booking)">
          <ion-card-header>
            <ion-card-subtitle>Booking Date</ion-card-subtitle>
            <ion-card-title>
              <ion-label >{{booking.bookingDate | date}}</ion-label>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>NAME: {{booking.firstName}} {{booking.lastName}}</ion-card-subtitle>
          </ion-card-content>
          <ion-card-content>
            <ion-card-subtitle>DUE : {{booking.balancedAmount}}</ion-card-subtitle> 
          </ion-card-content>
        </ion-card>
        <!-- <ion-label (click)="presentModal(booking)">{{booking.bookingDate | date}}</ion-label> -->
  </ng-container>
  <ng-container *ngIf="bookingData && bookingData.length === 0">
    <div id="container">
      <p>No Pending Booking</p>
    </div>
  </ng-container>
</ion-content>
