<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="type">
      <ion-segment-button value="Employee">
        <ion-label>Employee</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Cleaning">
        <ion-label>Cleaning</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ng-container [ngSwitch]="type">
  
    <ng-container *ngSwitchCase="'Cleaning'">
      <app-calendar></app-calendar>
    </ng-container>
  </ng-container>
</ion-content>