<ion-header class="header" *ngIf="showHeader === 'false'"  [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title text-left>
      <img alt="logo" height="40" float-left src="../../assets/images/icon.png"> Maharaja Banquet
    </ion-title>
    <ion-buttons slot="end" (click)="back()">
      <ion-button>Back </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div *ngIf="isready" style="background: white;">
  <p  style="text-align: center;"><ion-chip style=" --background: #00213f;--color: #adefd1;">Tap On Date To Book Your Events</ion-chip></p>
  <ng-container style="overflow: auto;">
    <br><br><div class="row text-center" >
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            Previous Month
          </div>
          <!-- <div
            class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate"
          >
            Today
          </div> -->
          <div
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            Next Month
          </div>
        </div>
      </div>
      <div class="col-md-4" style="text-align: center;font-size: 20px;">
        <h3 style="font-weight: bold; color: #7e6130">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <!-- <div class="col-md-4" style="background: white;">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month"
          >
            Month
          </div>
          <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Week)"
            [class.active]="view === CalendarView.Week"
          >
            Week
          </div>
          <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Day)"
            [class.active]="view === CalendarView.Day"
          >
            Day
          </div>
        </div>
      </div> -->
      <br>
      <br>
    </div>
    <br />
    <div class="scroll" [ngSwitch]="view" style="background: white;">
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-day-view>
    </div>
    
    
    <!-- Everything you see below is just for the demo, you don't need to include it in your app -->
    
    <br /><br /><br />
    
  </ng-container>
</div>

